@{
    ViewBag.Title = "Home";
}
@using MVCBlog.HelpClass
@model List<MVCBlog.Models.Post>   
<div class="post col-md-6">     RESENT POSTS </div>
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="post col-md-6">
                <h2>@post.Title</h2>
                <div>
                    Posted on <i>@post.Date</i>
                    @if (post.Author != null)
                {
                        @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                </div>
                <p> @Utils.MakeCutText(post.Body, 200)</p>
            </div>
        </div>
    }

    @*@foreach (var post in Model)
        {
        <section class="row">
            <article class="post col-md-6">
                <h2 class="title">@post.Title</h2>
                <div class="body">
                    Posted of <i>Stefan Tepsiev </i>on<i>@post.Date</i>
                    @if (post.Author != null)
                    {
                       @:by <i>@post.Author.FullName (@post.Author.UserName)</i>

                    }
                </div>
                <div>
                    Body of publication
                    <p>Some text, bura bura</p>
                </div>
            </article>
        </section>
        }*@
